<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="youziauth"
    Manufacturer="yoouzic"
    Version="$(var.ProductVersion)"
    UpgradeCode="{D029E636-7E7E-42EE-8B38-C2D455AD2AA1}"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of youziauth is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="youziauth" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="youziauth" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="youziauth" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="ProtocolRegistrationComponent" />
    </Feature>

    <Component Id="StartMenuShortcutComponent" Directory="ApplicationProgramsFolder" Guid="{3B24108B-A11D-4198-8481-7B1B8E245F0D}">
      <Shortcut
        Id="ApplicationStartMenuShortcut"
        Name="youziauth"
        Description="youziauth campus network authentication tray app by yoouzic"
        Target="[INSTALLFOLDER]youziauth.exe"
        WorkingDirectory="INSTALLFOLDER">
        <ShortcutProperty Key="System.AppUserModel.ID" Value="youziauth" />
      </Shortcut>
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue
        Root="HKCU"
        Key="Software\youziauth"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="ProtocolRegistrationComponent" Directory="INSTALLFOLDER" Guid="{A1D16D67-F62C-49E1-9083-1D421BD52C10}">
      <RegistryKey Root="HKLM" Key="Software\Classes\youziauth">
        <RegistryValue Type="string" Value="URL:youziauth protocol" KeyPath="yes" />
        <RegistryValue Name="URL Protocol" Type="string" Value="" />
        <RegistryKey Key="DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]youziauth.exe,0" />
        </RegistryKey>
        <RegistryKey Key="shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]youziauth.exe&quot; --notification-action &quot;%1&quot;" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="{1343B9EF-6352-40F8-BE7F-A184B5C2B03B}">
      <Shortcut
        Id="ApplicationDesktopShortcut"
        Name="youziauth"
        Description="youziauth campus network authentication tray app by yoouzic"
        Target="[INSTALLFOLDER]youziauth.exe"
        WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue
        Root="HKCU"
        Key="Software\youziauth"
        Name="desktopShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>
  </Package>
</Wix>
